/* Space out content a bit */
body {
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.nav>li.active>a {
text-decoration: none;
background-color: #eee;
}
.btn .btn-info {
    background-color: #6888bc;
    color: #F8F8F8;
    text-decoration: none

}
button.btn.btn-info {

    background-color: #6888bc;
    color: #F8F8F8;
    text-decoration: none;
    border: solid 1px #6888bc;
    border-radius: 0px;
    border-radius: 0px

}
.panel {
    border-radius: 0px;
    border-radius: 0px

}
.panel-heading {

    border-radius: 0px;
    border-radius: 0px
}
select {
    /* irrelevante Eigenschaften gekürzt */
    border: 1px solid black;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    width:100%;
    border: 1px solid #bbb;
    padding:.30em 1em .3em 1em;
    background-color:white;
    background-image:url(../images/select-arrow.png);
    background-position: right;
    background-repeat: no-repeat;
}
.line {
    width: 100%;
    height: 2px;
    margin: 10px 0;
    font-size: 0;
    overflow: hidden;
}
.bg-light .dk{
    background-color: #ffffff;
}
iframe{
    border: 0px;
}
tr.st-selected {
    background-color: #6888BC;
    color:white;
}
.table-striped>tbody>tr.st-selected {
    background-color: #6888BC;
    color:white;
}

.circular {

    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background-image: url("../images/map.svg");
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

