
<div class="modal-body" ng-controller="UsersCtrl">
    <div class="modal-header" style="text-align: center;">
        <h4 class="modal-title pull-left">Edit user</h4>
    </div>
    <form name="formUser" class="form-horizontal form-validation">


        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-3 control-label">Κοδικός Συνάθρισης</label>

                <div class="col-sm-9">
                    <input type="text" readonly class="form-control" ng-model="user.clientId">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Όνομα</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="user.firstname">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Επώνιμο</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="user.lastname">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Όμιλος</label>

                <div class="col-sm-9">
                    <select class="form-control m-a" name="congregationGroups"
                            ng-model="user.groupname"
                            ng-options="p.id as p.groupname for p in congregationGroups | orderBy:'p.congregationGroups':true"
                            ng-change=""
                            required>

                        <option value="">-- Rolle wählen --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">E-Mail</label>

                <div class="col-sm-9">
                    <input type="email" class="form-control" ng-model="user.email">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Τρόλεϊ</label>

                <div class="col-sm-9">
                    <select class="form-control m-a" name="roleName"
                            ng-model="user.trolley" required>
                        <option value="0">Όχι</option>
                        <option value="1">Ναί</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Ρόλλος</label>

                <div class="col-sm-9">
                    <select class="form-control m-a" name="roleName"
                            ng-model="user.roleName"
                            ng-options="p.roleName as p.roleName for p in roles | orderBy:'p.roleName':true"
                            ng-change=""
                            required>

                        <option value="">-- Rolle wählen --</option>
                    </select>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <div class="pull-right">
                <button class="btn btn-info" ng-click="save()"><i class="fa fa-save"></i> Speichern</button>
                <button class="btn btn-info" ng-click="$close()">Cancel</button>
            </div>
        </div>
    </form>
</div>
