<div ng-controller="LivingAndServiceCtrl" ng-init="currentWeek();">
<div class="row">
    <div class="col-lg-12" >
        <div class="page-header">
        <h1>Ζωή και Διακονία {{firstday.getDate()}} – {{lastday.getDate()}} {{month}}
            <div style="float: right;">
                <button type="submit" class="btn btn-info" ng-click="weekBefore();"><<</button>
                <button type="submit" class="btn btn-info" ng-click="nextWeek();">>></button>
                <button type="submit" class="btn btn-info" ng-click="currentWeek();">Τρέχουσα εβδομάδα</button>
                <button type="submit" class="btn btn-info" ng-click="print();">Print</button>
                <button type="submit" class="btn btn-info" ng-click="newThemeBox();">New / Edit Box</button>
            </div>
        </h1>
    </div>


    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="panel-body">
    <div class="row">
        <div class="form-group col-lg-12 col-xs-12" ng-repeat="box in data.themeboxes | orderBy:'positionIndex'">
            <div class="panel panel-default">
                <form name="form" class="form-horizontal form-validation">
                    <div class="panel-heading" style="background-color: {{box.headercolor}}; color:white;"><strong>{{box.boxname}}</strong></div>
                    <div class="panel-body">
                        <div class="form-group" ng-repeat="o in data.boxfields | filter: {themeboxid: box.id}  | orderBy:'boxfieldindex'">
                            <label class="col-sm-3 control-label">{{o.boxfieldname}}</label>
                            <div class="col-sm-9" ng-if="o.fieldsource == 'congregationgroups'">
                                <select ng-model="o.fieldValue"
                                        ng-options="o.groupname as o.groupname for o in group | orderBy:'groupname'" required>
                                </select>
                            </div>
                            <div class="col-sm-9" ng-if="o.fieldsource == 'users'">
                                <select ng-model="o.fieldValue"
                                        ng-options="o.shortname as o.shortname for o in persons" required>
                                </select>
                            </div>
                            <div class="col-sm-9" ng-if="o.fieldsource == 'freetext'">
                                <input type="text" class="form-control" ng-model="o.fieldValue">
                            </div>
                        </div>
                    </div>
                    <footer class="panel-footer text-right bg-light lter">
                        <div class="formEndInfo pull-left m-l-n" ng-show="saveProgress == 'data_personal'">
                            <i class="icon icon-refresh"></i> Speichern ...
                        </div>
                        <div class="formEndInfo pull-left text-success m-l-n"
                             ng-show="saveSuccess == 'data_personal'">
                            <i class="fa fa-check"></i> Gespeichert
                        </div>
                        <div class="formEndInfo pull-left text-info m-l-n"
                             ng-show="formPersonal.$error.pattern">
                            <i class="fa fa-times"></i> Ungültige Eingabe
                        </div>
                        <button type="submit" class="btn btn-info" ng-click="saveData(data.boxfields)"
                                ng-disabled="formPersonal.$pristine || formPersonal.$invalid || saveProgress">Speichern
                        </button>
                    </footer>
                </form>
            </div>
        </div>
    </div>
</div>
</div>