<div class="modal-body">
    <div class="modal-header" style="text-align: center;">
        <h4 class="modal-title pull-left">Box Editor</h4>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <div class="panel panel-default">
                <div class="table-container">

                    <table class="table st-table table-striped" name="tabel" st-table="themeboxes" st-safe-src="data.themeboxes">
                    <thead>
                    <tr>
                        <th st-sort="boxname">Box name</th>
                        <th st-sort="boxname">Position</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr st-select-row="box" ng-repeat="box in themeboxes | orderBy : 'positionIndex'">
                        <td >{{box.boxname}}</td>
                        <td>{{box.positionIndex}}</td>

                    </tr>
                    </tbody>

                    <tfoot>
                    <tr >
                        <td colspan="3" align="right">
                            <button class="btn m-b-xs btn-sm btn-info btn-addon" ng-click="newThemeBox()" ><i class="fa fa-plus"></i>Neu</button>
                            <button class="btn m-b-xs btn-sm btn-info btn-addon" ng-click="delete = true"><i
                                    class="fa fa-trash-o"></i>Löschen
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" align="right" ng-hide="delete != true">
                            <span class="text-dark wrapper-xs v-middle pull-left">Sure?</span>
                            <button class="btn m-b-xs btn-sm btn-info btn-addon" ng-click="deleteBox(); delete = false;" >Ja</button>
                            <button class="btn m-b-xs btn-sm btn-info btn-addon" ng-click="delete = false;">Nein
                            </button>
                        </td>
                    </tr>
                    </tfoot>
                </table>
                </div>
            </div>
        </div>
        <div class="form-group col-md-8" ng-show="selectedBox">
            <div class="panel panel-default">
                <form name="formPersonal" class="form-horizontal form-validation">
                    <div class="panel-heading"><strong>Box settings</strong></div>


                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Box Name</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="selectedBox.boxname">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Position</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="selectedBox.positionIndex">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Headercolor</label>


                            <div class="col-sm-9">
                                <input type="text" class="form-control" minicolors="customSettings" ng-model="selectedBox.headercolor">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Fields
                                <a tooltip-placement="bottom" tooltip=''>
                                    <i class="fa fa-exclamation-triangle"></i>
                                </a>
                            </label>
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <input class="form-control" style="margin-bottom: 5px;"  ng-repeat="field in fields track by $index" type='text' ng-model='fields[$index].boxfieldname' placeholder='TitleText'>

                                    <div>
                                        <button class="btn btn-info float-r" ng-click="addNewField()">
                                            More fields
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <select class="form-control" ng-model="fields[$index].fieldsource" style="margin-bottom: 5px;"
                                            ng-options="o as o for o in fieldtypes" required
                                            ng-repeat="field in fields track by $index">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>



                    <footer class="panel-footer text-right bg-light lter">
                        <div class="btn pull-left m-l-n">
                                        <span>
                                            <i class="fa fa-2x fa-spin fa-refresh" ng-show="isLoading"></i>
                                        </span>
                                        <span ng-show="inProgress">
                                            <i class="icon icon-refresh"></i> Speichern ...
                                        </span>
                                        <span class="text-success" ng-show="showSuccess">
                                            <i class="fa fa-check"></i> Gespeichert
                                        </span>

                        </div>
                        <div class="btn pull-left text-info m-l-n" ng-show="false">
                            <i class="fa fa-check"></i> Ungültige Eingabe
                        </div>
                        <button type="submit" class="btn btn-info" ng-click="save(selectedBox)">Speichern
                        </button>
                    </footer>
                </form>
            </div>
        </div>
    </div>
</div>
