<div class="row" >
    <div class="col-lg-12" >
        <div class="page-header">
            <h1>Users</h1>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="panel-body" ng-controller="UsersCtrl" ng-init="loadUsers()">
    <div class="table-container">

        <table class="table st-table table-striped" name="tabel" st-table="displayedUserList" st-safe-src="userList">
            <thead>
                <tr>
                    <td colspan="6">
                        <input st-search placeholder="Suche" class="input-sm form-control" ng-model="searchPattern" type="search">
                    </td>
                    <td colspan="1">
                        <button class="btn btn-info pull-right" ng-click="newUser();"><i class="fa fa-user-plus"></i></button>
                    </td>
                </tr>
                <tr>
                    <th st-sort="firstname" style="min-width:150px;">Όνομα</th>
                    <th st-sort="lastname" style="min-width:150px;">Επώνιμο</th>
                    <th st-sort="groupname" style="min-width:150px;">Όμιλος</th>
                    <th st-sort="email" style="min-width:155px;" >Ε-Μάιλ</th>
                    <th st-sort="roleName">Τρόλεϊ</th>
                    <th st-sort="roleName">Ρόλλος</th>
                    <th st-sort="token">Logged-In</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in displayedUserList">

                    <td>{{user.firstname}}</td>
                    <td>{{user.lastname}}</td>
                    <td>{{user.groupname}}</td>
                    <td>{{user.email}}</td>
                    <td ng-if="user.trolley == '0'">Όχι</td>
                    <td ng-if="user.trolley == '1'">Ναί</td>
                    <td>{{user.roleName}}</td>

                    <td ng-if="user.token == 'LOGGED OUT' || user.token == ''">Όχι</td>
                    <td ng-if="user.token != 'LOGGED OUT' && user.token != ''">Ναί</td>
                    <td><button ng-show="checkRoles();" class="btn btn-sm btn-info btn-xs" ng-click="edit(user);"><i class="fa fa-pencil-square-o"></i></button></td>

                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="10" class="text-center">
                        <div st-pagination="" st-items-by-page="15" st-displayed-pages="7"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>